html, body, .container{
  height: 100%;
}

.small {
  font-size: 12px;
}

.login-form {
  width: 350px;
  padding: 2rem 1rem 1rem;
}

#lightSwitch {
  transform: scale(1);
}

.text-dark {
  color: #383874 !important;
}

.detail-link {
  font-size: 12px;
}

.detail-link a {
  text-decoration: none !important;
}

.bg.bg-light {
  background-color: #ffffff !important;
  color: #383874;
}

.bg.bg-dark {
  background-color: #191932  !important;
  color: #ffffff;
}


.logo.bg-light.putih {
  display: none;
  background-color: #191932 !important;
}

.logo.bg-dark.hitam {
  display: none;
  background-color: #ffffff !important;
}

.box.bg-light {
  background-color: #ffffff !important;
  border-radius: 10px;
  padding: 15px;
  color: #383874;
}

.box.bg-dark {
  background-color: #191932 !important;
  border-radius: 10px;
  padding: 15px;
  color: #ffffff;
}

.main-header .navbar-light {
  background: #ffffff !important;
}

.main-header .navbar-dark {
  background: #191932 !important;
}

.mt-5 {
  margin-top: 80px !important;
}

.bg-dark {
  background-color: #05050F !important;
}

.bg-light {
  background-color: #EEF0FA !important;
}

.my-dropdown-toggle::after {
  content: none;
}

.map-container {
  max-height: 230px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  cursor: pointer;
  border-radius: 4px;
  margin-right: 2px;
  opacity: 0.6;
  filter: invert(0.8);
}

input[type="date"]::-webkit-calendar-picker-indicator:hover {
  opacity: 1;
}

.form-select.bg-dark {
  border-color: #383874 !important;
  color: #ffffff;
}

.form-control.bg-dark {
  border-color: #383874 !important;
  color: #ffffff;
}

.modal-header {
  border-bottom: 1px #393B4C;
}

.modal {
  background-color: rgba(0,0,0,0.4);
}

.card-over-map {
  width: 300px;
  height: 220px;
  position: absolute;
  padding: 10px;
  border-color: #393B4C;
  border-radius: 8px;
  right: 30px;
  top: 175px;
}

.legend-map {
  width: 350px;
  height: 40px;
  position: absolute;
  padding: 10px;
  border-color: #393B4C;
  border-radius: 8px;
  right: 880px;
  top: 630px;
}

.legend-content {
  display: grid;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  margin: 0 auto;
}

.legend-box-color {
  width: 10px;
  height: 10px;
}

.legend-text {
  font-size: 12px;
}

.user-drop {
  min-width: 9rem;
  margin-left: -110px;
}

.breadcrumb-chevron {
  --bs-breadcrumb-divider: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%236c757d'%3E%3Cpath fill-rule='evenodd' d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3E%3C/svg%3E");
  gap: .5rem;
}
.breadcrumb-chevron .breadcrumb-item {
  display: flex;
  gap: inherit;
  align-items: center;
  padding-left: 0;
  line-height: 1;
}
.breadcrumb-chevron .breadcrumb-item::before {
  gap: inherit;
  float: none;
  width: 1rem;
  height: 1rem;
}

.breadcrumb-custom .breadcrumb-item {
  position: relative;
  flex-grow: 1;
  padding: .75rem 3rem;
}
.breadcrumb-custom .breadcrumb-item::before {
  display: none;
}
.breadcrumb-custom .breadcrumb-item::after {
  position: absolute;
  top: 50%;
  right: -25px;
  z-index: 1;
  display: inline-block;
  width: 50px;
  height: 50px;
  margin-top: -25px;
  content: "";
  background-color: var(--bs-tertiary-bg);
  border-top-right-radius: .5rem;
  box-shadow: 1px -1px var(--bs-border-color);
  transform: scale(.707) rotate(45deg);
}
.breadcrumb-custom .breadcrumb-item:first-child {
  padding-left: 1.5rem;
}
.breadcrumb-custom .breadcrumb-item:last-child {
  padding-right: 1.5rem;
}
.breadcrumb-custom .breadcrumb-item:last-child::after {
  display: none;
}

.add-query {
  font-size: 24px;
}

.form-query{
  padding-top: 150px;
  background: none !important;
}

.rev-content {
  display: grid;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  grid-gap: 30px;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
}

.b-icon-purple {
  width: 60px;
  height: 60px;
  background: #9B1BFA;
  padding: 10px;
  border-radius: 10px;
  font-size: 30px;
  text-align: center;
  color: #ffffff;
}

.b-icon-lightblue {
  width: 60px;
  height: 60px;
  background: #4DC0F4;
  padding: 10px;
  border-radius: 10px;
  font-size: 30px;
  text-align: center;
  color: #ffffff;
}

.b-icon-orange {
  width: 60px;
  height: 60px;
  background: #FFA63F;
  padding: 10px;
  border-radius: 10px;
  font-size: 30px;
  text-align: center;
  color: #ffffff;
}

.b-icon-blue {
  width: 60px;
  height: 60px;
  background: #3547F9;
  padding: 10px;
  border-radius: 10px;
  font-size: 30px;
  text-align: center;
  color: #ffffff;
}

.cw-70 {
  width: 70px;
  height: 70px;
}

.footer-bg.bg-light {
  background-color: #ffffff !important;
  color: #383874;
}

.footer-bg.bg-dark {
  background-color: #191932  !important;
  color: #ffffff;
}

.copyright-text {
  font-size: 12px;
  opacity: 0.4;
}

@media only screen and (max-width: 1366px) {
  body {
    font-size: 12px;
  }
  h5 {
    font-size:x-small;
  }
  .small {
    font-size: 10px;
  }
  .form-select {
    font-size: 12px;
  }
  .detail-link {
    font-size: 8px;
  }
  .b-icon-purple {
    width: 40px;
    height: 40px;
    padding: 7px;
    font-size: 20px;
  }
  
  .b-icon-lightblue {
    width: 40px;
    height: 40px;
    padding: 7px;
    font-size: 20px;
  }
  
  .b-icon-orange {
    width: 40px;
    height: 40px;
    padding: 7px;
    font-size: 20px;
  }
  
  .b-icon-blue {
    width: 40px;
    height: 40px;
    padding: 7px;
    font-size: 20px;
  }
  .legend-map {
    right: 630px;
    top: 520px;
  }
  .legend-text {
    font-size: 10px;
  }
  
}

@media only screen and (max-width: 1200px) {
  body, a {
    font-size: 10px;
  }
  .small {
    font-size: 8px;
  }
  .form-select {
    font-size: 10px;
  }
  h5 {
    font-size:16px;
  }
  .detail-link {
    font-size: 6px;
  }
  .rev-content {
    grid-template-columns: 1fr;
  }
  .legend-map {
    width: 300px;
    height: 35px;
    right: 515px;
    top: 455px;
  }
  .legend-text {
    font-size: 8px;
  }
  
}


