html, body, .container{
  height: 100%;
}

.small {
  font-size: 12px;
}

.login-background {
  background-image: url('../images/bg-login.jpg');
  background-size: cover;
}

.login-form {
  width: 350px;
  padding: 2rem 1rem 1rem;
}

#lightSwitch {
  transform: scale(1);
}

.text-dark {
  color: #383874 !important;
}

.detail-link {
  font-size: 12px;
}

.detail-link a {
  text-decoration: none !important;
}

.bg.bg-light {
  background-color: #ffffff !important;
  color: #383874;
}

.bg.bg-dark {
  background-color: #191932  !important;
  color: #ffffff;
}


.logo.bg-light.putih {
  display: none;
  background-color: #191932 !important;
}

.logo.bg-dark.hitam {
  display: none;
  background-color: #ffffff !important;
}

.box.bg-light {
  background-color: #ffffff !important;
  border-radius: 10px;
  padding: 15px;
  color: #383874;
}

.box.bg-dark {
  background-color: #191932 !important;
  border-radius: 10px;
  padding: 15px;
  color: #ffffff;
}

.dropdown-menu.bg-dark {
  background-color: #05050F !important;
  border-radius: 10px;
  border: 1px solid #191932;
  color: #6c757d;
}

.dropdown-item.bg-dark {
  background-color: #05050F !important;
  color: #6c757d;
}

.dropdown-item.bg-dark:focus,.dropdown-item.bg-dark:hover {
  color:#ffffff;
}


.main-header .navbar-light {
  background: #ffffff !important;
}

.main-header .navbar-dark {
  background: #191932 !important;
}

.mt-5 {
  margin-top: 80px !important;
}

.bg-dark {
  background-color: #05050F !important;
}

.bg-light {
  background-color: #EEF0FA !important;
}

.my-dropdown-toggle::after {
  content: none;
}

.map-container {
  max-height: 230px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  cursor: pointer;
  border-radius: 4px;
  margin-right: 2px;
  opacity: 0.8;
  filter: invert(0.8);
}

input[type="date"]::-webkit-calendar-picker-indicator:hover {
  opacity: 1;
}

.form-select.bg-dark {
  border-color: #383874 !important;
  color: #ffffff;
}

.form-control.bg-dark {
  border-color: #383874 !important;
  color: #ffffff;
}

.modal-header {
  border-bottom: 1px #393B4C;
}

.modal {
  background-color: rgba(0,0,0,0.4);
}

.card-over-map {
  width: 300px;
  height: 220px;
  position: absolute;
  padding: 10px;
  border-color: #393B4C;
  border-radius: 8px;
  right: 30px;
  top: 175px;
}

.legend-map {
  position: absolute;
  padding: 10px;
  border-color: #393B4C;
  border-radius: 8px;
  right: 880px;
  top: 600px;
}

.legend-map01 {
  position: absolute;
  padding: 10px;
  border-color: #393B4C;
  border-radius: 8px;
  right: 950px;
  top: 650px;
}

.legend-content {
  display: grid;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
}

.legend-box-color {
  width: 10px;
  height: 10px;
}

.legend-box-scale {
  width: 65px;
  height: 15px;
}

.legend-text {
  font-size: 12px;
}

.user-drop {
  min-width: 9rem;
  margin-left: -110px;
}

.breadcrumb-chevron {
  --bs-breadcrumb-divider: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%236c757d'%3E%3Cpath fill-rule='evenodd' d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3E%3C/svg%3E");
  gap: .5rem;
}
.breadcrumb-chevron .breadcrumb-item {
  display: flex;
  gap: inherit;
  align-items: center;
  padding-left: 0;
  line-height: 1;
}
.breadcrumb-chevron .breadcrumb-item::before {
  gap: inherit;
  float: none;
  width: 1rem;
  height: 1rem;
}

.breadcrumb-custom .breadcrumb-item {
  position: relative;
  flex-grow: 1;
  padding: .75rem 3rem;
}
.breadcrumb-custom .breadcrumb-item::before {
  display: none;
}
.breadcrumb-custom .breadcrumb-item::after {
  position: absolute;
  top: 50%;
  right: -25px;
  z-index: 1;
  display: inline-block;
  width: 50px;
  height: 50px;
  margin-top: -25px;
  content: "";
  background-color: var(--bs-tertiary-bg);
  border-top-right-radius: .5rem;
  box-shadow: 1px -1px var(--bs-border-color);
  transform: scale(.707) rotate(45deg);
}
.breadcrumb-custom .breadcrumb-item:first-child {
  padding-left: 1.5rem;
}
.breadcrumb-custom .breadcrumb-item:last-child {
  padding-right: 1.5rem;
}
.breadcrumb-custom .breadcrumb-item:last-child::after {
  display: none;
}

.add-query {
  font-size: 24px;
}

.form-query{
  padding-top: 150px;
  background: none !important;
}

.rev-content {
  display: grid;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
}

.MoMYoY {
  display: grid;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
}

.b-icon-purple {
  width: 40px;
  height: 40px;
  background: #9B1BFA;
  padding: 6px;
  border-radius: 6px;
  font-size: 16px;
  text-align: center;
  color: #ffffff;
  margin-top: 2px;
}

.b-icon-lightblue {
  width: 40px;
  height: 40px;
  background: #4DC0F4;
  padding: 6px;
  border-radius: 6px;
  font-size: 16px;
  text-align: center;
  color: #ffffff;
  margin-top: 2px;
}

.b-icon-orange {
  width: 40px;
  height: 40px;
  background: #FFA63F;
  padding: 6px;
  border-radius: 6px;
  font-size: 16px;
  text-align: center;
  color: #ffffff;
  margin-top: 2px;
}

.b-icon-blue {
  width: 40px;
  height: 40px;
  background: #3547F9;
  padding: 6px;
  border-radius: 6px;
  font-size: 16px;
  text-align: center;
  color: #ffffff;
  margin-top: 2px;
}

.b-icon-top {
  width: 39px;
  height: 39px;
  background: transparent;
  border: 1px solid #6A6A9F;
  padding: 4px;
  border-radius: 6px;
  font-size: 20px;
  text-align: center;
  color: #6A6A9F;
  margin-top: 2px;
  -webkit-text-stroke: 0.5px;
}

.cw-70 {
  width: 70px;
  height: 70px;
}

.top-chart-container {
  display: grid;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  grid-gap: 5px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  margin: 0 auto;
}

.top-chart-value {
  font-size: 18px;
  font-weight: 600;
}

.progress {
  width: 100px;
}

.bg-light.progress {
  background-color: #DBDFF1 !important;
}

.bg-dark.progress {
  background-color: #25245D !important;
}

.bg-light.progress-bar {
  background: linear-gradient(270deg, #8676FF 0%, #4DA1FF 96.35%) !important;
}

.bg-dark.progress-bar {
  background: linear-gradient(270deg, #4DFFDF 0%, #4DA1FF 96.35%) !important;
}

.col-container {
  display: grid;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 auto;
}

.b-value-01 {
  background-color: #ce5b60;
  width: 100%;
  padding: 5px 9px;
  border-radius: 10px;
  text-align: center;
  font-size: 20px;
}

.b-value-02 {
  background-color: #f7b56f;
  width: 100%;
  padding: 5px 9px;
  border-radius: 10px;
  text-align: center;
  font-size: 20px;
}

.b-value-03 {
  background-color: #75b27f;
  width: 100%;
  padding: 5px 9px;
  border-radius: 10px;
  text-align: center;
  font-size: 20px;
}

.b-value-04 {
  background-color: #509164;
  width: 100%;
  padding: 5px 9px;
  border-radius: 10px;
  text-align: center;
  font-size: 20px;
}

.filter-container {
  display: grid;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  grid-gap: 5px;
  grid-template-columns: 1fr 1fr;
}

.btn-filter-map {
  color: inherit;
  font-size: 14px;
  padding: 5px 15px;
  border-radius: 20px;
}

.btn-filter-map:hover {
  color: inherit;
  background-color: #023AFF;
}

.btn-filter-map.active {
  color: #ffffff;
  background-color: #023AFF;
}

.table-blue {
  background-color: #203764 !important;
  color: #ffffff;
}

.table-nude {
  background-color: #FCE4D6 !important;
  color: #0F1D32;
}

.table-red {
  background-color: #B90024 !important;
  color: #ffffff;
}

.table-grey {
  background-color: #EAEEF1 !important;
  color: #0F1D32;
}

.footer-bg.bg-light {
  background-color: #ffffff !important;
  color: #383874;
}

.footer-bg.bg-dark {
  background-color: #191932  !important;
  color: #ffffff;
}

.modal-footer {
  border-top: none !important;
}

.img-responsive.img-center {
  margin: 0 auto;
}

.copyright-text {
  font-size: 12px;
  opacity: 0.4;
}

@media only screen and (max-width: 1366px) {
  body {
    font-size: 12px;
  }
  h5 {
    font-size:x-small;
  }
  .small {
    font-size: 10px;
  }
  .form-select {
    font-size: 12px;
  }
  .detail-link {
    font-size: 8px;
  }
  .b-icon-purple {
    width: 40px;
    height: 40px;
    padding: 7px;
    font-size: 20px;
  }
  
  .b-icon-lightblue {
    width: 40px;
    height: 40px;
    padding: 7px;
    font-size: 20px;
  }
  
  .b-icon-orange {
    width: 40px;
    height: 40px;
    padding: 7px;
    font-size: 20px;
  }
  
  .b-icon-blue {
    width: 40px;
    height: 40px;
    padding: 7px;
    font-size: 20px;
  }
  .legend-map {
    right: 630px;
    top: 520px;
  }
  .legend-map01 {
    right: 700px;
    top: 545px;
  }
  .legend-text {
    font-size: 10px;
  }
  .MoMYoY {
    margin: 8px 0px 0px 0px;
  }
  
  
}

@media only screen and (max-width: 1200px) {
  body, a {
    font-size: 10px;
  }
  .small {
    font-size: 8px;
  }
  .form-select {
    font-size: 10px;
  }
  h5 {
    font-size:16px;
  }
  .detail-link {
    font-size: 6px;
  }
  .rev-content {
    grid-template-columns: 1fr;
  }
  .legend-map {
    height: 50px;
    right: 470px;
    top: 445px;
  }
  .legend-map01 {
    right: 535px;
    top: 480px;
  }
  .legend-text {
    font-size: 8px;
  }
  .MoMYoY {
    margin: 8px 0px 0px 0px;
  }
}


